<!doctype html>
<html>
    <head>
        <title>Yohans Hailu Kasaw Portfolio</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <main class="bg-white font-sans">
            <div class="py-4 container mx-auto">
                <section>
                    <h1
                        class="pb-2 text-2xl font-bold border-b border-gray-400"
                    >
                        {{.Name}}
                    </h1>
                    <div class="text-gray-500 mt-2 space-x-4">
                        <span>📞 {{.Phone}}</span>
                        <span
                            >✉️
                            <a href="mailto:{{.Email}}" class="text-blue-500"
                                >{{.Email}}</a
                            ></span
                        >
                        <span>📍 {{.Location}}</span>
                        <span
                            >🔗
                            <a href="{{.Linkedin}}" class="text-blue-500"
                                >LinkedIn</a
                            ></span
                        >
                        <span
                            >🔗
                            <a href="{{.Github}}" class="text-blue-500"
                                >GitHub</a
                            ></span
                        >
                    </div>
                    <p class="mt-4 text-gray-700">{{.Summary}}</p>
                </section>

                {{range .Sections}}
                <section class="my-6">
                    <h2
                        class="pb-2 text-2xl font-bold border-b border-gray-400 last:border-b-0"
                    >
                        {{.Title}}
                    </h2>
                    <div class="space-y-2">
                        {{range .Entries}}
                        <div>
                            <div>
                                <h3 class="text-lg font-semibold">
                                    {{.Title}}
                                </h3>
                            </div>
                            {{if .Subtitle}}
                            <div>
                                <span class="font-medium">
                                    {{.Subtitle}}{{if .Location}}, {{.Location}}
                                    {{end}}
                                </span>
                                <span
                                    class="ml-6 text-sm text-gray-500 font-mono"
                                >
                                    {{.Period}}
                                </span>
                            </div>
                            {{end}}
                            <ul class="list-disc pl-5 space-y-1 text-gray-700">
                                {{range .Description}}
                                <li>{{.}}</li>
                                {{end}}
                            </ul>
                        </div>
                        {{end}}
                    </div>
                </section>
                {{end}}
            </div>
        </main>
    </body>
</html>
